

.App {
  text-align: center;
  margin: 2%;
  margin-top: 2%;
  background-color: #000625;
  border-radius: 5px;
  color: aliceblue;
  font-family: 'Times New Roman', Times, serif;
  padding-bottom: 1%;
  padding-top: 2% ;
}

.linkName{
  margin-bottom: 5%;
}
.pic{
  width: 40%;
  height: 250px;
  
  border-radius: 40px/120px;
}
.container{background-color: #e5eaec;
  margin-right: 20%;
  margin-left: 20%;
 
  text-align: center;
}
.mount{
  margin:10%;
  margin-bottom: 5%;
}
  


